.node {
    border: 1px solid #fff;
    position: absolute;
}

.node circle {
    fill: #999;
}

.node text {
    font: 12px sans-serif;
}

.node rect {
    stroke: #fff;
}

.folder rect {
    stroke: #fff;
}

.folder text {
    font: 12px sans-serif;
    fill: #fff;
    pointer-events: none;
}

.file circle {
    stroke: #fff;
}

.file text {
    font: 10px sans-serif;
    fill: #fff;
    pointer-events: none;
}

.link {
    fill: none;
    stroke: #555;
    stroke-opacity: 0.4;
    stroke-width: 1.5px;
}
